// Body
$body-bg: #f8fafc;

// Typography
//Font family
$font-family-sans-serif: 'Nunito', sans-serif;

//Font size
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-lg: 1.15rem;

$line-height-base: 1.6;

//Colors
//Font
$font-color-base: #0e0e11;

//Backround
$bg-color-item: #e8eff1;

//Borders
$border-color-item: #16629c;
